@import './variables';

/* ----- General ----- */

* {
	font-family: $font-2;
}

h1,
h2,
h3,
h4,
h4 {
	color: $color-1;
}

h2 {
	font-family: $font-1;
}

.bg-color-primary {
	background-color: $color-1 !important;
	color: $color-4 !important;
}

.navbar-brand {
	.img-fluid {
		width: 150px !important;
	}
}

/* ----- Homepage ----- */

.btn-warning {
	background-color: rgb(250, 250, 111) !important;
}
.btn-danger {
	background-color: rgb(251, 149, 149) !important;
}
#home {
	a {
		text-decoration: none;
		color: $color-3;
		&:hover {
			color: $color-3;
		}
	}
	.card {
		transition: transform 0.5s;
		border: none;
		&:hover {
			transform: scale(0.98);
			border: 1px solid rgb(218, 218, 218) !important;
			box-shadow: none !important;
			z-index: 999 !important;
		}
	}
}
