{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5 pb-5">
        <div class="col-md-12 text-center">
            <h2>Modifier l'utilisateur</h2>
            <a href="{{ path('user_index') }}" class="btn btn-secondary rounded-pill">Retour</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
    <div class="d-flex justify-content-end">
        
    </div>
</div>


{% endblock %}
